################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/begining static web apps/.vs/begining static web apps
/begining static web apps/Client/bin/Debug/net9.0
/begining static web apps/Client/obj
/.vs
/Client/bin/Debug/net9.0
/Client/obj
/Models/bin/Debug/net9.0

/Models/obj
/StaticWebAppAuthentication/bin/Debug/net9.0
/StaticWebAppAuthentication/obj
/Models/bin/Release/net9.0
dist/
/Client/bin/Release/net9.0
/StaticWebAppAuthentication/bin/Release/net9.0
