@page "/blogposts"
@inject NavigationManager navigationManager
@inject BlogpostSummaryService service


<PageTitle>Blogposts</PageTitle>
<h1>Blogposts</h1>
@if (service.Summaries is null)
{
    <div>Loading...</div>
}else
{
    foreach (var blogpostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        <article @onclick="() => Navigate(blogpostSummary.Id, blogpostSummary.Author)">
            <h2>@blogpostSummary.Title</h2>
            <div>
                @foreach (var tag in blogpostSummary.Tags)
                {
                    <em>@tag, </em>
                    <div>
                        @((MarkupString)Markdown.ToHtml(blogpostSummary.BlogpostMarkdown))
                    </div>
                }
            </div>
        </article>

    }
}

@code
{
    void Navigate(Guid id, string author) =>
navigationManager.NavigateTo($"/blogposts/{author}/{id}");
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await service.LoadBlogpostSummaries();
        }catch(Exception ex)
        {
            string err = ex.Message;
        }
    }
}