@page "/blogposts"
@inject BlogpostSummaryService service
@implements IDisposable
@inject BlogpostService blogpostService
@inject NavigationManager navigationManager


<PageTitle>Blogposts</PageTitle>
<h1>Blogposts</h1>
@if (service.Summaries is null)
{
    <div>Loading...</div>
}else
{
    foreach (var blogpostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        var editAddress =
$"/blogposts/{@blogpostSummary.Author}/{@blogpostSummary.Id}/edit";
        <BlogpostSummary Summary="@blogpostSummary" />
        <AuthorizeView >
            <Authorized>
                <button @onclick="@(() =>
                        navigationManager.NavigateTo("/blogposts/new"))">
            Create Blogpost
        </button>

    </Authorized>
</AuthorizeView>


<AuthorizeView>
<Authorized>
<button @onclick="@(() =>
navigationManager.NavigateTo(editAddress))">
Edit BlogPost
</button>
<button @onclick="(() =>
blogpostService.Delete(blogpostSummary.Id, blogpostSummary.Author))">
Delete Blogpost
</button>
</Authorized>
</AuthorizeView>
    }
}

@code
{
  
    // protected override async Task OnInitializedAsync()
    // {
    //     try
    //     {
    //         await service.LoadBlogpostSummaries();
    //     }catch(Exception ex)
    //     {
    //         string err = ex.Message;
    //     }
    // }

    private void OnSummariesRefreshed(object? sender, EventArgs e)
    {
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        await service.LoadBlogpostSummaries();
        service.SummariesRefreshed += OnSummariesRefreshed;
    }
    public void Dispose()
    {
        service.SummariesRefreshed -= OnSummariesRefreshed;
    }
}