@page "/blogposts"
@inject BlogpostSummaryService service


<PageTitle>Blogposts</PageTitle>
<h1>Blogposts</h1>
@if (service.Summaries is null)
{
    <div>Loading...</div>
}else
{
    foreach (var blogpostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        <BlogpostSummary Summary="@blogpostSummary" />

    }
}

@code
{
  
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await service.LoadBlogpostSummaries();
        }catch(Exception ex)
        {
            string err = ex.Message;
        }
    }
}